<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!-- 正式機連線 -->
    <add name="BBCMS" connectionString="Data Source=192.168.192.6;Initial Catalog=BBCMS;Persist Security Info=True;User ID=sa;Password=1234567" providerName="System.Data.SqlClient" />
  
    <!-- 測試機連線 -->
    <!--<add name="BBCMS" connectionString="Data Source=old_cms_sql;Initial Catalog=BBCMS;Persist Security Info=True;User ID=sa;Password=1234567" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- 正式機連線 -->
    <add key="BBCMS" value="Data Source=192.168.192.6;Initial Catalog=BBCMS;User ID=sa;Password=1234567" />
    <add key="GGA" value="Data Source=192.168.192.6;Initial Catalog=GGADB;User ID=sa;Password=1234567" /> 
  
    <!-- 測試機連線 -->
    <!--<add key="BBCMS" value="Data Source=old_cms_sql;Initial Catalog=BBCMS;User ID=sa;Password=1234567" />
    <add key="GGA" value="Data Source=old_cms_sql;Initial Catalog=GGADB;User ID=sa;Password=1234567" />--> 
    
    <add key="pathLogFile" value="C:\\Hospital_Log" />  
  </appSettings>
</configuration>
